<div class="box box-default box-shadow">
  <button class="btn btn-success" (click)="openTeacherAddModal(TeacherModal)">
    Add teacher
  </button>

  <div class="box-body">
    <h4>Teachers</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teacherList; let i = index">
          <th scope="row">{{ teacher.id }}</th>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.class }}</td>
          <td>
            <a class="btn" (click)="openTeacherEditModal(TeacherModal, teacher)"
              ><i class="fa fa-edit"></i
            ></a>
            <a
              class="btn"
              (click)="openConfirmationDialogue(teacher, 'Teacher')"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      class="btn btn-success"
      (click)="openStudentAddModal(StudentModal)"
      style="margin-top: 10px;"
    >
      Add Student
    </button>
    <h4>Students</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentList; let i = index">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.score }}</td>
          <td>
            <a class="btn" (click)="openStudentEditModal(StudentModal, student)"
              ><i class="fa fa-edit"></i
            ></a>
            <a
              class="btn"
              (click)="openConfirmationDialogue(student, 'Student')"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #TeacherModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTitle }} teacher</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="teacherForm">
      <div class="form-group">
        <label for="name">Teacher Name <sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter Teacher Name"
          formControlName="name"
          appFormControlValidationMsg
        />
      </div>

      <div class="form-group">
        <label for="name">Class<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter Teacher Name"
          formControlName="class"
          appFormControlValidationMsg
        />
      </div>
    </form>
    <!-- modal body -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
      Cancel
    </button>
    <button
      class="btn btn-success"
      type="submit"
      (click)="onSubmitTeacher()"
      appFormSubmitValidationMsg
      [validationControl]="teacherForm"
    >
      Submit
    </button>
  </div>
</ng-template>

<!-- student modal -->

<ng-template #StudentModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTitle }} Student</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- modal body -->
    <form [formGroup]="studentForm">
      <div class="form-group">
        <label for="std_name">Student Name <sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="std_name"
          name="std_name"
          placeholder="Enter Student Name"
          formControlName="name"
          appFormControlValidationMsg
        />
      </div>

      <div class="form-group">
        <label for="score">Score<sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="score"
          name="score"
          placeholder="Enter Score"
          formControlName="score"
          appFormControlValidationMsg
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
      Cancel
    </button>
    <button
      class="btn btn-success"
      type="submit"
      (click)="onSubmitStudent()"
      appFormSubmitValidationMsg
      [validationControl]="studentForm"
    >
      Submit
    </button>
  </div>
</ng-template>
