<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img
          *ngIf="!userInfo?.staff_photo"
          src="{{ defaultImagePath }}/user2-160x160.jpg"
          class="img-circle"
          alt="User Image"
        />
      </div>
      <div class="pull-left info">
        <p>Guest User</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu Items-->
    <menu-item [navItems]="navItems"></menu-item>
    <!-- /.sidebar-menu Items-->

    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
