<div class="box box-default box-shadow">
  <button
    class="btn btn-success"
    (click)="openAssessmentAddModal(assessmentModal)"
  >
    Add Assessment
  </button>

  <div class="pull-right">
    <strong>{{ teacherDetail.name }}</strong>
    <br />
    <small>{{ teacherDetail.class }}</small>
  </div>
  <div class="box-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Assessment Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">Student Assigned</th>
          <th scope="col">Score</th>
          <th scope="col">Submitted Date</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assessment of assessmentList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ assessment.title }}</td>
          <td>{{ assessment.startDate }}</td>
          <td>{{ assessment.student }}</td>
          <td>{{ assessment.score }}</td>
          <td>{{ assessment.submittedDate }}</td>

          <td>
            <a
              class="btn"
              (click)="openAssessmentEditModal(assessmentModal, assessment)"
              ><i class="fa fa-edit"></i
            ></a>
            <button
              *ngIf="!assessment.verified"
              [disabled]="assessment.submittedDate ? false : true"
              class="btn btn-success btn-xs"
              (click)="onVerify(assessment)"
            >
              Verify
            </button>
            <p *ngIf="assessment.verified">Verified</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- asssessment modal -->

<ng-template #assessmentModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTitle }} Assessement</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- modal body -->
    <form [formGroup]="assessmentForm">
      <div class="form-group">
        <label for="assess_title">Assessment Title <sup>*</sup></label>
        <input
          type="text"
          class="form-control"
          id="assess_title"
          name="assess_title"
          placeholder="Enter Assessment Title"
          formControlName="title"
          appFormControlValidationMsg
        />
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="std">Select Students</label>
            <select
              formControlName="student"
              id="std"
              class="form-control"
              appFormControlValidationMsg
            >
              <option
                *ngFor="let student of studentList; let i = index"
                value="{{ student.id }}"
                >{{ student.name }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="score">Score<sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              id="score"
              name="score"
              placeholder="Enter Score"
              formControlName="score"
              appFormControlValidationMsg
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="start_date">Start Date<sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              id="start_date"
              name="start_date"
              placeholder="Select Date"
              formControlName="startDate"
              bsDatepicker
              autocomplete="off"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              appFormControlValidationMsg
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label style="margin-top: 20px; float: right;">Verify</label>
          </div>
          <div class="col-md-6">
            <div class="switch">
              <ui-switch (change)="onToggleChange($event)"></ui-switch>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
      Cancel
    </button>
    <button
      class="btn btn-success"
      type="submit"
      (click)="onSubmitAssessment()"
      appFormSubmitValidationMsg
      [validationControl]="assessmentForm"
    >
      Submit
    </button>
  </div>
</ng-template>
