<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">
    <!-- Main Header -->
    <app-topbar></app-topbar>
    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Begin Main content -->
      <section class="content container-fluid">
        <div>
          <div class="title-panel">
            <section class="content-header no-padding">
              <div>
                <h1 class="m-0" style="font-size: 22px;">
                  <!-- <b *ngIf="!titleHeading">TCA </b> -->

                  <b *ngIf="titleHeading">{{ titleHeading }}</b>

                  <br />
                  <small class="description">{{ titleDescription }}</small>
                </h1>
              </div>

              <div class="content-breadcrumb">
                <breadcrumb [allowBootstrap]="true"></breadcrumb>
              </div>
            </section>
          </div>
          <section style="padding-top: 10px;">
            <router-outlet></router-outlet>
          </section>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <aside class="control-sidebar control-sidebar-dark">
      <!-- right side toggle contents -->
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
      immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
</body>
