.content-header {
  display: flex;
  justify-content: space-between;
}

.content-breadcrumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-panel {
  
  margin-bottom: 10px;
}

// for chat





.form-container {
  max-width: 300px;
  // padding: 10px;
  background-color: rgb(235, 235, 235);
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-bottom: 10px;

  .flex-item {
    margin-right: 10px;
    margin-top: 8px;

    .quick-message {
      border-color: #3c8dbc;
      border-radius: 20px;
      background-color: white;

      &:hover {
        background-color: #3c8dbc;
        color: white;
      }
    }
  }
}


