<div class="modal-header" style="background-color: white;">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  <h3 style="color: black; text-align: center;">
    Are you sure?
  </h3>
</div>
<div class="modal-body">
  <h4 style="text-align: center;">
    Do you really want to {{ bsModalRef.content?.action }}
    <strong>{{ bsModalRef.content?.data }}</strong
    >? <br />
    <br />
    This process cannot be undone.
  </h4>
</div>
<div class="modal-footer" style="text-align: center;">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    style="background-color: #f15e5e; color: white; margin-left: 20px;"
    (click)="onConfirm()"
  >
    Delete
  </button>
</div>
