<div class="box box-default box-shadow">
  <div class="pull-right">
    <strong>{{ studentDetail?.name }}</strong>
    <br />
    <small>Score : {{ studentDetail?.score }}</small>
  </div>
  <div class="box-body"></div>

  <h3>Assessments</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Assessment Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Score</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assessment of assessmentList; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ assessment.title }}</td>
        <td>{{ assessment.startDate }}</td>
        <td>{{ assessment.score }}</td>

        <td>
          <button
            class="btn btn-success btn-xs"
            [disabled]="checkDate(assessment.startDate)"
            (click)="onSubmit(assessment)"
          >
            Submit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
