<!-- search form -->
<div class="sidebar-form">
  <div class="input-group">
    <input
      type="text"
      name="q"
      class="form-control"
      placeholder="Search..."
      autocomplete="off"
      [(ngModel)]="term"
      (keyup)="setExpandedTrue($event)"
    />
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>

<!-- /.search form -->

<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION</li>

  <ng-container *ngFor="let item of navItems | filter: term">
    <li *ngIf="!item.children" style="cursor: pointer;">
      <!-- Menu Item  -->
      <a
        routerLink="/{{ item.route }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="{{ item.iconName }} mr-1"></i>
        <span>{{ item.displayName }}</span>
      </a>
    </li>

    <li
      class="treeview"
      [ngClass]="{ 'menu-open': expanded }"
      *ngIf="item?.children"
      style="cursor: pointer;"
    >
      <a>
        <i class="{{ item.iconName }} mr-1"></i>
        <span>{{ item.displayName }}</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul
        class="treeview-menu"
        [ngStyle]="{ display: expanded ? 'block' : 'none' }"
      >
        <ng-container *ngFor="let childItem of item?.children">
          <li>
            <a
              routerLink="/{{ childItem.route }}"
              routerLinkActive="active"
              (click)="setTitle(childItem.displayName)"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="{{ childItem.iconName }} mr-1"></i>
              {{ childItem.displayName }}
            </a>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
