<div class="row">
  <div class="col-md-6">
    <div class="box box-default box-shadow">
      <form [formGroup]="studentIdForm">
        <div class="form-group">
          <label for="student_id">Student Id <sup>*</sup></label>
          <input
            type="text"
            class="form-control"
            id="student_id"
            name="student_id"
            placeholder="Enter Student Id"
            formControlName="student_id"
            appFormControlValidationMsg
          />
        </div>
      </form>
      <div class="box-footer">
        <button
          class="btn btn-success pull-right"
          type="submit"
          (click)="onLogIn()"
          appFormSubmitValidationMsg
          [validationControl]="studentIdForm"
        >
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
