<div class="row">
  <div class="col-md-6">
    <div class="box box-default box-shadow">
      <form [formGroup]="teacherIdForm">
        <div class="form-group">
          <label for="teacher_id">Teacher Id <sup>*</sup></label>
          <input
            type="text"
            class="form-control"
            id="teacher_id"
            name="teacher_id"
            placeholder="Enter Teacher Id"
            formControlName="teacher_id"
            appFormControlValidationMsg
          />
        </div>
      </form>
      <div class="box-footer">
        <button
          class="btn btn-success pull-right"
          type="submit"
          (click)="onLogIn()"
          appFormSubmitValidationMsg
          [validationControl]="teacherIdForm"
        >
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
